@import "tailwindcss";
@keyframes trashShake {
    0% {
      transform: translateX(0);
    }
  
    20% {
      transform: translateX(-6px);
    }
  
    40% {
      transform: translateX(6px);
    }
  
    60% {
      transform: translateX(-6px);
    }
  
    80% {
      transform: translateX(6px);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
  .animate-trashShake {
    animation: trashShake 0.4s ease;
  }

  .stroke-heading {
    color: transparent;
    -webkit-text-stroke: 3px #EF3D3D;
  }